# PostgreSQL ulanish manzili
DATABASE_URL="postgresql://postgres:password@localhost:5432/fastfood_db?schema=public"

# JWT
JWT_SECRET="super-secret-key-almashtiring"
JWT_EXPIRES_IN="7d"

# Server
PORT=5000
CLIENT_URL="http://localhost:5173"
